.wap-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem 30px;
  gap: 20px;
  background-color: var(--clr-3);
  color: var(--clr-2);
  .title {
    font-size: rem(24px);
    font-weight: normal;
  }
  .text {
    font-size: rem(18px);
    margin-bottom: 20px;
  }
  .btn {
    margin-right: 15px;
    font-size: rem(20px);
    padding: 1.4em 4em;
    color: var(--clr-2);
    font-size: rem(16px);
    transition: filter 0.2s;
    border-radius: 4rem;
    outline: 2px solid var(--clr-2);
    &:hover {
      outline-color: var(--clr-1);
      filter: brightness(120%);
      background-color: var(--clr-1);
      color: var(--clr-3);
    }
  }
  &.type-3,
  &.type-6 {
    color: var(--clr-1);
    .btn {
      border-radius: 0;
      background-color: var(--clr-2);
      color: var(--clr-3);
      font-size: em(16px);
      letter-spacing: 0.8px;
      padding: 18px 32px;
      transition: all 0.15s ease-in-out;
      margin-left: 10px;
      &:hover {
        color: var(--clr-3);
        background-color: var(--clr-1);
      }
    }
    i.send-btn {
      display: none;
    }
    form {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 100%;
      .input-fields {
        flex: 1;
        input {
          border-radius: 0;
        }
      }
      .type-subscribe {
        display: none;
      }
    }
  }
  &.type-6 {
    background-color: var(--clr-2);
    border-radius: 12px;
    color: var(--clr-1);
    h3 {
      font-family: PoppinsBold;
      font-size: em(32px);
    }
    form {
      display: flex;
      gap: 16px;
      flex-direction: column;
      align-items: stretch;
      .input-fields {
        input {
          border-radius: 4px;
          border: 2px solid #eee;
        }
      }
      .btn {
        margin: 0;
        background-color: var(--clr-1);
        color: var(--clr-3);
        width: fit-content;
      }
    }
  }
}

.form-input {
  position: relative;

  .label {
    position: absolute;
    top: 18px;
    left: 16px;
    color: var(--clr-1);
    font-size: em(18px);
    line-height: 22px;
    transform: translateZ(0);
    transform-origin: top left;
    pointer-events: none;
    font-family: PoppinsRegular;
    &.selected {
      transform: scale(calc(13 / 17)) translate3d(0, -50%, 0);
    }
    span {
    }
  }
  .send-btn {
    position: absolute;
    height: 100%;
    right: 0;
    padding: 16px;
    font-size: em(26px);
    color: lightgray;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  .input {
    padding: 24px 32px 8px 16px;
    display: block;
    width: 100%;
    border-radius: rem(10px);
    font-size: em(17px);
    line-height: 22px;
  }
}
