.wap-cards {
  @include grid();
  background-color: var(--clr-1);

  &.type-1,
  &.type-2 {
    > div {
      grid-column: span 4;
    }
  }
  .wap-card {
    width: 100%;
    padding: 80px 10px;
    display: grid;
    grid-template-areas: 'img' 'title' 'text';
    justify-items: center;
    color: var(--clr-2);
    text-align: center;

    .card-img {
      grid-area: img;
      width: 48px;
      margin-bottom: 24px;
    }
    .title {
      grid-area: title;
      font-size: rem(24px);
      font-weight: 400;
      margin-bottom: 14px;
    }
    .subtitle {
      grid-area: subtitle;
      font-size: rem(24px);
      font-weight: 400;
      margin-bottom: 14px;
    }
    .text {
      grid-area: text;
      font-size: rem(18px);
      font-weight: 200;
    }
  }

  &.type-3 {
    background-color: var(--clr-3);
    // background-color: #eee;
    @include grid(5);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 80px;
    align-items: start;
    .wap-card {
      // background-color: #bbb;
      grid-template-areas: 'img' 'subtitle' 'title';
      color: var(--clr-1);
      font-family: BarlowCondensed-Bold;
      letter-spacing: 1px;

      .card-img {
        width: 130px;
        margin-bottom: 24px;
      }
      &.type-4 {
        .title {
          font-size: em(36px);
        }
      }
      .title {
        font-size: em(24px);
        font-weight: 400;
        margin-bottom: 14px;
        white-space: nowrap;
      }
      .subtitle {
        font-family: PoppinsBold;
        font-size: em(14px);
        font-weight: 200;
        // width: min-content;
      }
    }
  }

  &.type-4,
  &.type-5 {
    background-color: var(--clr-3);
    @include grid(3, 8%);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 80px;
    align-items: start;
    .wap-card {
      grid-template-areas: 'img' 'title' 'text';
      color: var(--clr-1);
      padding: 0;
      font-family: BarlowCondensed-Bold;
      letter-spacing: 1px;

      .card-img {
        width: 80px;
        margin-bottom: 24px;
      }
      .title {
        font-size: em(38px);
        margin-bottom: 22px;
      }
      .text {
        font-family: PoppinsRegular;
        font-size: em(16px);
      }
    }
  }

  &.type-5 {
    @include grid(4, 8%);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 80px;
    align-items: start;
    .wap-card {
      .title {
        font-family: PoppinsBold;
        font-size: em(18px);
        margin-bottom: 22px;
      }
    }
  }

  &.type-6,
  &.type-8 {
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: var(--clr-3);

    .wap-card {
      color: var(--clr-1);
      padding: 0;
      font-family: PoppinsBold;
      letter-spacing: 1px;
      text-align: left;
      justify-items: start;

      .card-img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-bottom: 24px;
      }
      .title {
        font-size: em(24px);
        margin-bottom: 22px;
      }
      .text {
        font-family: PoppinsRegular;
        font-size: em(16px);
      }
    }
  }

  &.type-8 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #fff;
    .wap-card {
      .card-img {
        margin: 0;
      }
      .title {
        font-size: em(60px);
        color: var(--clr-2);
      }
    }
  }
  &.type-9 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #fff;

    font-family: PoppinsRegular;
    .wap-card {
      background-color: var(--clr-3);
      border-radius: 8px;
      color: var(--clr-1);
      .card-img {
        margin: 0;
      }
      .title {
        font-family: PoppinsBold;
        font-size: em(60px);
        font-weight: 800;
        margin-bottom: 46px;
      }
      .text1,
      .text2,
      .text3,
      .text4 {
        margin-bottom: 28px;
      }

      button {
        margin-top: 20px;
        background-color: var(--clr-2);
        color: var(--clr-1);
        font-size: em(16px);
        letter-spacing: 0.8px;
        padding: 18px 32px;
        transition: all 0.15s ease-in-out;
        &:hover {
          color: var(--clr-3);
          background-color: var(--clr-1);
        }
      }

      &.type-13 {
        background-color: var(--clr-2);
        // transform: scaleY(110%);

        .title {
          margin-bottom: 60px;
        }

        button {
          background-color: #fff;
          color: var(--clr-1);
          margin-top: 40px;
          &:hover {
            color: var(--clr-3);
            background-color: var(--clr-1);
          }
        }
      }
    }
  }
}

@container wap (max-width: 760px) {
  .wap-cards {
    @include grid(1);

    > div {
      grid-column: span 1;
    }
  }
}

//   .details {
//       display: flex;
//       gap: 1rem;
//       font-size: 1.1rem;
//       align-items: center;
//       margin-bottom: 2.8rem;
//       .tag {
//         background-color: var(--clr-3);
//         font-size: 1rem;
//         color: var(--clr-1);
//         border-radius: 1rem;
//         padding: 0.2rem 0.8rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }

//   .btn {
//     font-size: rem(20px);
//     padding: 1.4em 4em;
//     color: var(--clr-2);
//     font-size: rem(16px);
//     transition: filter 0.2s;
//     border-radius: 4rem;
//     outline: 1px solid var(--clr-2);
//     &:hover {
//       outline-color: var(--clr-1);
//       filter: brightness(120%);
//       background-color: var(--clr-1);
//       color: var(--clr-3);
//     }
//   }
// }
