.wap-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 30px;
  height: calc(100vh - 80px);
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-2);
  color: var(--clr-3);
  text-align: center;
  * {
    max-width: 400px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: default;
    .img-wrapper {
      width: 40px;
    }
    img {
      width: 100%;
    }
  }
  .title {
    font-size: rem(70px);
    font-weight: normal;
  }
  .text {
    font-size: rem(16px);
    max-width: 240px;
  }
  .btn {
    font-size: rem(20px);
    padding: 1.4em 4em;
    font-size: rem(14px);
    transition: filter 0.2s;
    border-radius: 4rem;
    background-color: var(--clr-1);
    &:hover {
      filter: brightness(120%);
    }
  }
}
