.wap-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--clr-3);
  color: var(--clr-2);
  padding-inline: 8rem;
  gap: 4rem;
}

.img-section {
  flex: 1;
  min-width: 400px;
  max-height: 600px;
  aspect-ratio: 1 / 1;
  margin-block: 4rem;
  // background-color: var(--clr-3);
  background-color: transparent;
  overflow: hidden;
  img {
    border-radius: rem(40px);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 500px;
  padding-block: 4rem;
  gap: 40px;

  .title {
    font-size: rem(60px);
    font-weight: normal;
  }
  .text {
    font-size: rem(18px);
  }
  .btn {
    font-size: rem(20px);
    padding: 1.4em 4em;
    color: var(--clr-2);
    font-size: rem(16px);
    transition: filter 0.2s;
    border-radius: 4rem;
    outline: 2px solid var(--clr-2);
    &:hover {
      outline-color: var(--clr-1);
      filter: brightness(120%);
      background-color: var(--clr-1);
      color: var(--clr-3);
    }
  }
}
