.wap-hero {
  @include grid(2, 16%);
  background-color: var(--clr-3);
  background-repeat: no-repeat;
  // background-size: 200%;
  background-size: auto 130%;
  background-position: top center;
  min-width: 100%;
  color: var(--clr-1);
  font-size: rem(16px);

  &.type-3 {
    min-height: 500px;
    height: auto;
    text-align: center;
    // @include grid(1);
    display: flex;
    justify-content: center;
    // margin: auto;

    .text-section {
    }
  }

  &.type-4 {
    @include grid(1);
    color: var(--clr-3);
  }

  > div {
    height: 100%;
  }

  .text-section {
    height: 100%;
  }

  .img-section {
    height: 100%;
  }

  &.type-5 {
    @include grid(1);
    color: var(--clr-3);
    padding-block: 18rem;
    justify-items: center;
  }
  &.type-6 {
    @include grid(1);
    color: var(--clr-3);
    background-color: var(--clr-2);
    padding-block: 18rem;
    justify-items: center;
  }
}

@container wap (max-width: 1160px) {
  .wap-hero {
    &.type-5 {
      font-size: rem(12px);
    }
  }
}

@container wap (max-width: 990px) {
  .wap-hero {
    &.type-3 {
      min-height: 400px;
    }
    font-size: rem(14px);
    .text-section {
      .title,
      .subtitle {
        font-size: em(60px);
      }
    }

    &.type-5 {
      .text-section {
        .titles-wrapper {
          font-size: 80%;
          grid-area: unset;
        }
      }
    }

    &.type-6 {
      .text-section {
        font-size: em(16px);
        .text {
          font-size: em(24px);
        }
      }
    }
  }
}

@container wap (max-width: 760px) {
  .wap-hero {
    @include grid(1);
    .text-section {
      grid-template-areas: 'tag' 'titles' 'text' 'cta';
      justify-content: start;
      .titles-wrapper {
        grid-area: titles;
      }
      .title {
        margin-right: 12px;
      }
      .title,
      .subtitle {
        font-size: em(50px);
      }
      .text {
        max-width: 100%;
      }
    }

    &.type-6 {
      .text-section {
        grid-template-areas: 'titles' 'text';
        font-size: em(14px);
        .text {
          font-size: em(32px);
        }
      }
    }
  }
}

// video {
//   background-color: var(--clr-2);
//   object-fit: cover;
//   position: absolute;
//   inset: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   pointer-events: none;
// }
// .logo {
//   display: flex;
//   align-items: center;
//   gap: 6px;
//   cursor: default;
//   .img-wrapper {
//     width: 40px;
//   }
//   img {
//     width: 100%;
//   }
// }
// .title {
//   font-size: rem(70px);
//   font-weight: normal;
// }
// .text {
//   font-size: rem(16px);
//   max-width: 240px;
// }
// .btn {
//   font-size: rem(20px);
//   padding: 1.4em 4em;
//   font-size: rem(14px);
//   transition: filter 0.2s;
//   border-radius: 4rem;
//   background-color: var(--clr-1);
//   &:hover {
//     filter: brightness(120%);
//   }
// }

// .wap-hero {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   padding-inline: 30px;
//   height: calc(100vh - 80px);
//   gap: 40px;
//   align-items: center;
//   justify-content: center;
//   color: var(--clr-3);
//   text-align: center;
//   position: relative;
//   white-space: pre-wrap;
//   video {
//     background-color: var(--clr-2);
//     object-fit: cover;
//     position: absolute;
//     inset: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     pointer-events: none;
//   }
//   .logo {
//     display: flex;
//     align-items: center;
//     gap: 6px;
//     cursor: default;
//     .img-wrapper {
//       width: 40px;
//     }
//     img {
//       width: 100%;
//     }
//   }
//   .title {
//     font-size: rem(70px);
//     font-weight: normal;
//   }
//   .text {
//     font-size: rem(16px);
//     max-width: 240px;
//   }
//   .btn {
//     font-size: rem(20px);
//     padding: 1.4em 4em;
//     font-size: rem(14px);
//     transition: filter 0.2s;
//     border-radius: 4rem;
//     background-color: var(--clr-1);
//     &:hover {
//       filter: brightness(120%);
//     }
//   }
// }
