.app-header {
  background-color: var(--clr-3);
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .loggedin-user {
    background-color: var(--clr-1);
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    color: whitesmoke;
    span {
      background-color: var(--clr-2);
      padding: 4px;
      margin: 10px;
      border-radius: 50%;
    }
    img {
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }
  }
  nav {
    background-color: var(--clr-3);
    padding: 5px 0;
  }
  nav a:not(:first-child) {
    border-top: 1px solid var(--clr-1);
    padding: 0 5px;
    margin: 10px;
  }
  nav .active {
    color: var(--clr-1);
  }
}

.main-header {
  height: $main-header-height;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .edit-options {
    display: flex;
  }
  .main-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    .logo-text {
      color: $main;
      font-family: Asap;
      font-weight: 400;
      font-size: em(36px);
      margin-bottom: 4px;
    }
  }
}
