.editor-sidebar {
  pointer-events: all;

  .editor-nav {
    border-right: 1px solid #eee;
    width: $editor-nav-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: #fff;
    z-index: 190;
    height: 100%;
  }
  .section-select {
    position: absolute;
    left: -100%;
    height: 100%;
    z-index: 180;

    &.open {
      left: $editor-nav-width;
    }
    .section-names {
      width: $editor-section-names-width;
      position: absolute;
      background-color: #fff;
      height: 100%;
      border-right: 1px solid #eee;
      z-index: 170;
      .title {
        padding: 20px;
      }
    }
    .section-cmps {
      position: absolute;
      border-right: 1px solid #eee;
      z-index: 160;
      width: $editor-section-cmps-width;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      left: -500px;
      background-color: #fff;
      height: 100%;
      overflow-y: scroll;

      &.open {
        left: $editor-section-names-width;
      }

      .cmp-img-container {
        background-color: $cmp-bg;
        padding: 3px;
        position: relative;
        padding-right: 26px;
        border-radius: 8px;
        display: flex;

        img {
          border-radius: 6px;
        }

        .grab-icon {
          position: absolute;
          color: $main;
          top: 50%;
          right: 0;
          padding-inline: 1px;
          transform: translateY(-50%);
          font-size: 24px;
          cursor: grab;
        }
      }
    }
  }

  .cmp-editor {
    width: $editor-section-edit-width;
    position: absolute;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid #eee;
    z-index: 170;
    left: -100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .title {
      margin-bottom: 20px;
    }

    .edit-type-label {
      color: $btn-small-color;
      font-size: 12px;
      margin-top: 20px;
    }

    .edit-type-label:first-of-type {
      margin-top: 0;
    }

    &.open {
      left: $editor-nav-width;
    }
  }
}
