.main-header {
  height: $main-header-height;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4px;
  .edit-options {
    display: flex;
    align-items: center;
  }
  // .undo-btn {
  //   width: 20px;
  // }
  .history-options {
    transform: scale(1, -1);
  }
  .main-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    .logo-text {
      color: $main;
      font-family: Asap;
      font-weight: 400;
      font-size: em(36px);
      margin-bottom: 4px;
    }
  }

  .auth-info {
    margin-right: 14px;
  }

  @media screen and (max-width: $mobileQuery) {
    .history-options {
      display: none;
    }
  }
}

.editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  height: $editor-header-height + 4px;
  background-color: #fff;
  padding-inline: 4px;
  // padding-block: 40px;

  .media-select {
  }
  .url-bar {
    background-color: rgba(238, 238, 238, 0.5);
    height: 30px;
    border: 2px solid #eee;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 14px;
    flex: 1;
    max-width: 550px;

    .mb-show {
      display: none;
    }

    .address {
      color: rgba(30, 30, 30, 0.5);
    }
    .site-name {
      color: $main;
    }
    .preview-btn {
      color: rgba($color: $main, $alpha: 0.4);

      &:hover {
        color: rgba($color: $main, $alpha: 0.8);
      }
    }
  }
  .upload-site {
    display: flex;
    align-items: center;
  }
  .back-btn {
    display: none;
  }

  @media screen and (max-width: $mobileQuery) {
    .media-select {
      display: none;
    }
    .back-btn {
      display: block;
    }
    .url-bar {
      max-width: 100%;
      .mb-hide {
        display: none;
      }
      .mb-show {
        display: inline;
      }
    }
  }
}
