.main-editor {
  width: 100vw;
  height: 100vh;

  .main-editor-tools {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
    user-select: none;

    > * {
      pointer-events: auto;
    }
  }
  @media screen and (max-width: 1940px) {
    &:has(.section-select.open) {
      .main-wap {
        left: calc(
          $editor-nav-width + $editor-section-names-width -
            ((100vw - 1280px) / 2) + 3rem
        );
      }

      &:has(.section-cmps.open) {
        .main-wap {
          left: calc(
            $editor-nav-width + $editor-section-names-width +
              $editor-section-cmps-width - ((100vw - 1280px) / 2) + 3rem
          );
        }
      }
    }
    &:has(.cmp-editor.open) {
      .main-wap {
        left: calc(
          $editor-nav-width + $editor-section-edit-width -
            ((100vw - 1280px) / 2) + 3rem
        );
      }
    }
  }

  @media screen and (max-width: 1660px) {
    &:has(.section-select.open) {
      .main-wap {
        left: $editor-nav-width + $editor-section-names-width;
      }

      &:has(.section-cmps.open) {
        .main-wap {
          left: $editor-nav-width + $editor-section-names-width +
            $editor-section-cmps-width;
        }
      }
    }
    &:has(.cmp-editor.open) {
      .main-wap {
        left: $editor-nav-width + $editor-section-edit-width;
      }
    }
  }
  .main-wap {
    position: absolute;
    top: calc($main-header-height + $editor-header-height);
    margin: auto;
    overflow-y: scroll;
    right: 0;
    left: $editor-nav-width;
    &.phone {
      left: 0;
      max-width: 480px;
    }
    &.tablet {
      max-width: 778px;
      left: 0;
    }
    &.phone,
    &.tablet {
      box-sizing: border-box;
      top: calc($main-header-height + $editor-header-height + 2rem);
      height: calc(100vh - $main-header-height - $editor-header-height - 4rem);
      z-index: 1;
      opacity: 0.9999;
      border: 5px solid #f7f7f7;
      border-radius: 40px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    @media screen and (max-width: $mobileQuery) {
      left: 0 !important;
    }
  }
}
