.editor-sidebar {
  pointer-events: all;

  .editor-nav {
    border-right: 1px solid #eee;
    width: $editor-nav-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: #fff;
    z-index: 190;
    height: 100%;
    height: calc(100vh - $main-header-height - $editor-header-height);
    padding-top: 8px;
  }
  .section-select {
    position: absolute;
    left: $editor-section-names-width * -1 + $editor-nav-width;
    // left: 0;
    height: 100%;
    z-index: 180;

    &:not(.open):has(.section-cmps.open) {
      left: ($editor-section-names-width + $editor-section-cmps-width) * -1 +
        $editor-nav-width;
    }

    &.open {
      left: $editor-nav-width;
    }
    .section-names {
      .mobile-section-names-btns {
        display: none;
      }

      width: $editor-section-names-width;
      height: calc(100vh - $main-header-height - $editor-header-height);
      position: absolute;
      background-color: #fff;
      height: 100%;
      border-right: 1px solid #eee;
      z-index: 170;
      .title {
        padding: 20px;
      }
    }
    .section-cmps {
      position: absolute;
      border-right: 1px solid #eee;
      z-index: 160;
      width: $editor-section-cmps-width;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      left: $editor-section-cmps-width * -1;
      background-color: #fff;
      height: 100%;
      height: calc(100vh - $main-header-height - $editor-header-height);
      overflow-y: scroll;

      .section-cmp-previews {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li:hover {
          background-image: none;
        }
      }

      &.open {
        left: $editor-section-names-width;
      }

      .cmp-img-container {
        background-color: $cmp-bg;
        padding: 3px;
        position: relative;
        padding-right: 26px;
        border-radius: 8px;
        display: flex;

        img {
          border-radius: 6px;
        }

        .grab-icon {
          position: absolute;
          color: $main;
          top: 50%;
          right: 0;
          padding-inline: 1px;
          transform: translateY(-50%);
          font-size: 24px;
          cursor: grab;
        }
      }
    }
  }

  .cmp-editor {
    width: $editor-section-edit-width;
    position: absolute;
    background-color: #fff;
    border-right: 1px solid #eee;
    z-index: 170;
    left: ($editor-nav-width + $editor-section-edit-width) * -1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    pointer-events: all;
    overflow-y: scroll;
    height: calc(100vh - $main-header-height - $editor-header-height);

    .mb-only {
      display: none;
    }

    .title {
      margin-bottom: 20px;
    }

    .edit-type-label {
      color: $btn-small-color;
      font-size: 14px;
      margin-block: 12px;
    }

    .edit-type-label:first-of-type {
      margin-top: 0;
    }

    &.open {
      left: $editor-nav-width;
    }

    .cmp-edit-section {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 2000px) {
    .section-select {
      transition: left 0.2s cubic-bezier(0.83, 0.22, 0.17, 0.84);
    }
    .cmp-editor,
    .section-cmps {
      transition: left 0.3s cubic-bezier(0.83, 0.22, 0.17, 0.84);
    }
  }

  @media screen and (max-width: $mobileQuery) {
    .editor-nav {
      border-right: none;
      border-top: 1px solid #eee;
      width: 100vw;
      flex-direction: row;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 190;
      height: $editor-nav-width;
      .editor-btn {
        flex-direction: row !important;
        width: 100%;
        justify-content: space-evenly;
        label {
          padding: (10px) 20px !important;
        }
      }
    }

    .section-select {
      position: absolute;
      left: 0;
      bottom: -100%;
      height: $editor-mb-height-lvl2;
      z-index: 180;
      width: 100%;
      overflow-y: scroll;

      &.open {
        left: 0;
        bottom: $editor-nav-width;
      }
      .section-names {
        .desktop-section-names-btns {
          display: none;
        }

        .mobile-section-names-btns {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        }

        width: 100%;
        position: absolute;
        background-color: #fff;
        height: 100%;
        border-right: none;
        border-top: 1px solid #eee;
        z-index: 170;
        .title {
          padding: 20px;
        }
      }
      .section-cmps {
        position: absolute;
        border-right: none;
        border-top: 1px solid #eee;
        width: 100%;
        left: 0;
        bottom: -500px;
        z-index: 200;
        height: 26vh;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

        &.open {
          left: 0;
          bottom: 0;
        }

        .cmp-img-container {
          .grab-icon {
          }
        }
      }
    }

    .cmp-editor {
      width: 100%;
      border-right: none;
      border-top: 1px solid #eee;
      z-index: 170;
      left: 0;
      bottom: -100%;
      // padding: 20px;
      // display: flex;
      // flex-direction: column;
      // gap: 14px;
      // pointer-events: all;
      overflow-y: scroll;
      // height: calc(100vh - $main-header-height - $editor-header-height);
      height: $editor-mb-height-lvl1;

      .mb-only {
        display: flex;
      }

      .title {
        // margin-bottom: 20px;
      }

      .edit-type-label {
        color: $btn-small-color;
        font-size: 14px;
        margin-block: 12px;
      }

      .edit-type-label:first-of-type {
        margin-top: 0;
      }

      &.open {
        left: 0;
        bottom: $editor-nav-width;
      }

      .cmp-edit-section {
        margin-bottom: 32px;

        .editor-btns {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        }

        .editor-color-picker {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        }
      }
    }
  }
}
