.wap {
  container-type: inline-size;
  container-name: wap;
  // > .list-group {
  //   padding-inline: calc(((100vw - 1280px) / 2) + 3rem) !important;
  // }
  // > * > * {
  //   padding-inline: calc(((100vw - 1280px) / 2) + 3rem) !important;
  // }
}

.main-wap {
  container-type: inline-size;
  container-name: wap;
  // > .list-group > div > * {
  //   padding-inline: calc(((100vw - 1280px) / 2) + 3rem) !important;
  // }
}

@container wap (max-width: 1200px) {
  .wap {
    // > .list-group {
    //   padding-inline: 3rem !important;
    // }
    // > * > * {
    //   padding-inline: 3rem !important;
    // }
  }
}

@container wap (max-width: 1200px) {
  // .main-wap {
  //   > .list-group > div > * {
  //     padding-inline: 3rem !important;
  //   }
  // }
}

@container wap (max-width: 990px) {
}
