.review-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    background-color: var(--clr-2);
    color: var(--clr-3);
    padding: 5px;
    margin: 5px;
  }
  a {
    color: var(--clr-1);
    padding: 10px;
  }
  pre {
    background-color: #ddd;
    color: #333;
    padding: 10px 5px;
    margin: 5px;
  }
}
