.animate {

    &:hover {
        &.headShake {
            animation: headShake 1s;

        }
        &.pulse {
            animation: pulse 1s;
        }
        &.flash {
            animation: flash 1s;
        }
        &.jello {
            animation: jello 1s;
        }
        &.bounce {
            animation: bounce 1s
        }
        &.fadeInDown {
            animation: fadeInDown 10s
        }
    }
}