* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: unset;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0.88rem;
  color: var(--clr-main);
  background-color: var(--clr-main-bg);
}

#app {
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: unset;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.videos object,
.video embed {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

/* inputs reset */
input[type='text'],
textarea {
  appearance: none;
  border: none;
  resize: none;
  padding: 0.6rem 0;
  font-size: 0.88rem;
  color: var(--clr-main);
}

input:focus-within,
textarea:focus-within {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.btn,
button {
  appearance: none;
  border: none;
  color: var(--clr-main-bg);
  background-color: var(--clr-main);
  padding: 0.6em 1.2em;
  font-weight: unset;
  cursor: pointer;
}

[data-draggable]:hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  cursor: grab;
}

[contenteditable='true'] {
  cursor: text;
  position: relative;
  &:before,
  &:after {
    height: 0.4em;
    width: 0.4em;
    position: absolute;
    content: '';
    opacity: 0;
  }
  &:after {
    left: 0px;
    bottom: 0px;
    border-left: 3px solid #00c2a6;
    border-bottom: 3px solid #00c2a6;
    transform: translate(100%, -50%);
  }
  &:before {
    right: 0px;
    top: 0px;
    border-right: 3px solid #00c2a6;
    border-top: 3px solid #00c2a6;
    transform: translate(-100%, 50%);
  }

  &:hover {
    transition: all 0.1s ease;

    &:before {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    &:after {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: 4px dotted #00c2a6;
    appearance: none;
    &:before {
      transform: translate(-100%, 50%);
      opacity: 0;
    }
    &:after {
      transform: translate(100%, -50%);
      opacity: 0;
    }
  }
}
