.el-slider__bar {
  background-color: $main;
}

.el-slider__button {
  border: solid 2px $main;
}

.el-upload-dragger .el-upload__text em {
  color: $main;
}

.el-upload-dragger:hover {
  border-color: $main;
}

.el-dropdown-menu__item:not(.is-disabled):focus {
  background-color: $main-light;
  color: $main;
}

.el-button {
  background-color: $main;
  border-color: $main;
}

.el-button:focus,
.el-button:hover {
  background-color: lighten($main, 4%);
  border-color: lighten($main, 4%);
  color: white;
}

.bm-burger-button {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  width: 34px !important;
  height: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  .bm-burger-bars {
    height: 2px;
    position: static;
    width: 100%;
  }
  .bm-burger-bars:nth-child(1) {
  }
  .bm-burger-bars:nth-child(2) {
    width: 60%;
  }
  .bm-burger-bars:nth-child(3) {
    width: 80%;
  }
}

.bm-cross-button {
  top: 20px;
  padding: 15px 40px;
}
