.homepage {
  .logo,
  .decor {
    user-select: none;
  }
  font-family: PoppinsRegular;
  color: $btn-dark;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1700px) 1fr;
  > * {
    grid-column: 2;
  }
  a {
    cursor: pointer;
  }

  .header-container {
    grid-column: 1 / -1;
    display: grid;
    background-color: $btn-dark;
    grid-template-columns: 1fr minmax(0, 1700px) 1fr;
    > * {
      grid-column: 2;
    }
  }

  .hero {
    grid-column: 1 / -1;
    @include grid(1);
    text-align: center;
    background-color: $btn-dark;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 6em;
    padding-bottom: 0;
    position: relative;
    h1 {
      font-size: 5.2em;
      font-family: PoppinsBold;
      line-height: 1.2;

      span {
        // background: linear-gradient(
        //   90deg,
        //   rgba(0, 194, 166, 1) 0%,
        //   rgba(6, 255, 255, 1) 50%
        // );
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        background: linear-gradient(140deg, #92fe9d 0%, #00c9ff 70%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      font-size: em(16px);
      position: relative;
      margin-bottom: 16px;
      @media screen and (max-width: 1180px) {
        .decor {
          display: none;
        }
      }
      .decor {
        position: absolute;
        right: 0;
        transform: translate(200%, -20%) scale(80%);
      }
    }
    button {
      font-size: em(16px);
      // border: 1px solid white;
      background-color: white;
      color: $btn-dark;
      font-family: PoppinsBold;
      display: inline;
      width: fit-content;
      border-radius: 3em;
      padding: 1em 2.6em;
      background: linear-gradient(140deg, #fff 0%, #fff 70%);
      transition: background 0.1s;
      &:hover {
        // background-color: white;
        background: linear-gradient(140deg, #92fe9d 0%, #00c9ff 70%);
        color: #fff;
      }
    }

    .img-container {
      width: fit-content;
      img {
        position: relative;
        z-index: 1;
      }
      &:before {
        content: '';
        background-color: white;
        // width: 100%;
        // height: 800px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 26%;
      }

      @media screen and (max-width: 920px) {
        img {
          display: none;
        }
        &::before {
          display: none;
        }
      }
    }

    @media screen and (max-width: 920px) {
      padding-block: 6em;
      // min-height: 80vh;
    }
  }
  .features {
    @include grid(1);
    text-align: center;
    margin-top: 5em;
    margin-bottom: 6em;

    .title-wrapper {
      font-family: PoppinsBold;
      margin-bottom: 120px;
      h2 {
        font-size: em(42px);
      }
    }

    .cards {
      align-items: start;
      display: grid;
      gap: 120px 70px;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
      .card {
        i {
          font-size: em(32px);
        }
        h3 {
          font-size: em(18px);
          font-family: PoppinsBold;
          margin-block: 24px 10px;
        }
      }
    }
  }

  .demo {
    @include grid(1);
    margin-bottom: 6em;
    h3 {
      font-family: PoppinsBold;
      text-align: center;
      font-size: em(42px);
      margin-bottom: 40px;

      span {
        background: linear-gradient(
          90deg,
          rgb(0, 136, 136) 0%,
          rgba(0, 194, 166, 1) 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    main {
      display: grid;
      grid-template-columns: 1fr 300px;
      gap: 80px;
      @media screen and (max-width: 1120px) {
        grid-template-columns: 1fr;
        .demo-text {
          display: grid;
          gap: 90px;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          .demo-part {
            h4 {
              margin-bottom: 4px;
            }
            p {
            }
          }
        }
      }

      .video {
        width: 100%;
        overflow: visible;
        video {
          // border-radius: em(8px);
          // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          //   0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 20px 20px 0 $main;
        }
      }
      .demo-text {
        .demo-part {
          margin-bottom: 60px;
          h4 {
            font-family: PoppinsBold;
            font-size: em(18px);
            margin-bottom: 4px;
          }
          p {
          }
        }
      }
    }
  }
  .footer {
    grid-column: 1 / -1;
    background-color: $btn-dark;
    color: white;
    @include grid(1);
    justify-items: center;
    padding-block: 8em 4em;
    h2 {
      font-size: em(36px);
      font-family: PoppinsBold;
      text-align: center;
    }
    button {
      font-size: em(18px);
      border: 1px solid white;
      display: inline;
      width: fit-content;
      border-radius: 3em;
      padding: 1em 3em;
      margin-bottom: 4em;
      transition: background-color 0.1s;
      &:hover {
        background-color: white;
        color: $btn-dark;
      }
    }
    .links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        cursor: pointer;
        gap: 8px;
        font-size: em(24px);
        font-family: 'PoppinsBold';
        align-items: center;
        color: rgba($color: #fff, $alpha: 0.5);
        transition: all 0.2s;
        &:hover {
          color: white;
        }
        img {
          color: white;
          height: em(24px);
        }
      }
      nav {
        display: flex;
        gap: em(24px);
        color: rgba($color: #fff, $alpha: 0.5);
        transition: all 0.2s;
        a:hover {
          color: white;
        }
      }
    }
  }

  @media screen and (max-width: 1770px) {
    max-width: 1770px;
    width: 100%;
    .app-header {
      grid-template-columns: minmax(230px, 1fr) minmax(0, 0) minmax(230px, 1fr);
      gap: 60px;
      .nav {
        grid-column: 2;
      }
      .user-auth,
      .burger {
        grid-column: 3;
      }
      .burger {
        // position: absolute; //TODO: why was it absolute??
      }
    }
  }
  @media screen and (max-width: 960px) {
    .hero {
      h1 {
        font-size: 8vw;
      }
    }
    .title-wrapper {
      h2 {
        font-size: 6vw;
      }
    }
    .app-header {
      grid-template-columns: min-content 1fr max-content;
      .burger {
        grid-column: 3;
      }
    }
  }

  @media screen and (max-width: 620px) {
    .hero {
      h1 {
        font-size: 3.8em;
      }
    }
    .title-wrapper .decor {
      width: 60vw;
    }
    .logo {
      h1 {
        display: none;
      }
    }
    font-size: 12px;
    grid-template-columns: 0 minmax(0, 1fr) 0;
    > * {
      padding-inline: 20px !important;
    }
    .header-container {
      grid-template-columns: 0 minmax(0, 1fr) 0;
      .app-header {
        padding-inline: 20px !important;
      }
    }
  }
}
