.img-section {
  // max-height: 600px;
  aspect-ratio: 6 / 8;
  padding: 40px;
  background-color: transparent;
  position: relative;
  transform: rotate(4.8deg);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &::before {
    content: '';
    width: 95%;
    height: 95%;
    aspect-ratio: 5 / 7;
    transform-origin: center;
    background-color: #fff;
    position: absolute;
    transform: rotate(-5.8deg) translate(-45px, -2px);
    z-index: -1;
  }
  &.type-2 {
    transform: rotate(-4.8deg) scale(80%);

    &::before {
      transform: rotate(8.8deg) translate(12px, 0px);
    }
  }
  // flex: 1;
  // min-width: 400px;
  // max-height: 600px;
  // aspect-ratio: 1 / 1;
  // margin-block: 4rem;
  // // background-color: var(--clr-3);
  // background-color: transparent;
  // overflow: hidden;
  // img {
  //   border-radius: rem(40px);
  //   object-fit: cover;
  //   width: 100%;
  //   height: 100%;
  // }
}

@container wap (max-width: 990px) {
  .img-section {
    transform: rotate(2deg) scale(80%);
    &::before {
      transform: rotate(-4deg) translate(-50px, -40px) scale(80%);
    }
  }
}
