.text-section {
  align-content: center;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-areas:
    'tag'
    'title'
    'subtitle'
    'text'
    'cta';

  .tag {
    grid-area: tag;

    background-color: var(--clr-2);
    border-radius: 1rem;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: em(14px);
    letter-spacing: 2px;
    margin-bottom: 26px;
  }

  .title,
  .subtitle {
    font-size: em(80px);
    font-weight: 500;
  }
  .subtitle {
    grid-area: subtitle;
    margin-bottom: 26px;
  }
  .text {
    grid-area: text;

    font-size: em(18px);
    line-height: 1.5;
    max-width: 38ch;
    margin-bottom: 26px;
  }
  .details {
    grid-area: details;
  }
  .btn {
    grid-area: cta;

    background-color: var(--clr-1);
    color: var(--clr-3);
    padding: 0.8em 1.1em;
    border-radius: 0;
    font-size: em(18px);
    width: fit-content;
    &:hover {
      filter: brightness(120%);
    }
  }

  &.type-2 {
    .titles-wrapper {
      .subtitle {
        font-style: italic;
        font-family: AmericanTypewriter;
        font-weight: 400;
      }
    }
  }

  &.type-3 {
    grid-template-areas:
      'title'
      'text'
      'subtitle'
      'details'
      'tag';

    background-color: var(--clr-1);
    text-align: center;
    justify-items: center;
    padding-block: 4rem;
    border-radius: 2.4rem;
    // margin-inline: 100px;
    color: white;
    transform: rotate(1.6deg);
    > * {
      transform: rotate(-1.6deg);
    }
    .title {
      font-size: em(48px);
      font-weight: 400;
      margin-bottom: 32px;
    }
    .titles-wrapper {
      width: 100%;
    }
    .text {
      font-size: em(14px);
      max-width: 100%;
      letter-spacing: 2px;
      margin-bottom: 24px;
    }
    .subtitle {
      font-size: em(20px);
      font-family: Asap;
      font-style: normal;
      margin-bottom: 8px;
    }
    .details {
      font-size: em(14px);
      line-height: 1.5;
      white-space: pre;
      text-decoration: underline;
      margin-bottom: 24px;
      color: #f9f9f9b3;
    }
    .tag {
      color: var(--clr-1);
      margin-bottom: 0;
    }
  }

  &.type-4 {
    .title {
      margin-bottom: 26px;
      font-size: em(48px);
    }
    .text {
      max-width: 60ch;
    }
  }

  &.type-5 {
    grid-template-areas: 'title' 'text' 'cta';
    justify-content: start;
    .title {
      grid-area: title;
      font-size: em(40px);
      margin-bottom: 20px;
    }
    .text {
      max-width: 100%;
    }
  }

  &.type-6 {
    > .titles-wrapper {
      width: 60%;
    }
  }
  &.type-6,
  &.type-7,
  &.type-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    > .titles-wrapper {
      font-family: BarlowCondensed-Bold;
      font-size: em(10px);
    }
    button {
      font-family: PoppinsBold;
      letter-spacing: 1px;
      border-radius: 4px;
      background-color: var(--clr-2);
      font-size: em(14px);
      padding: 20px 42px;
    }
  }

  &.type-7,
  &.type-10 {
    padding-block: 80px;
  }

  &.type-8 {
    text-align: center;
    button {
      background-color: var(--clr-3);
      color: var(--clr-1);
      margin-top: 20px;
    }
  }

  &.type-9 {
    text-align: center;
    justify-items: center;
    height: 100%;
    > .titles-wrapper {
      font-family: BarlowCondensed-Bold;
      font-size: em(8px);
      max-width: 80%;
      margin-bottom: 20px;
    }
    button {
      font-family: PoppinsBold;
      letter-spacing: 1px;
      border-radius: 4px;
      background-color: white;
      color: var(--clr-1);
      border: 2px solid var(--clr-1);
      font-size: em(12px);
      padding: 20px 42px;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: var(--clr-1);
        color: white;
      }
    }
  }

  &.type-10 {
    font-family: PoppinsRegular;

    .title {
      font-family: PoppinsBold;
      margin-bottom: 40px;
    }
    .text {
      margin-bottom: 40px;
      max-width: 50ch;
    }
    button {
      border-radius: 3rem;
      border: 1px solid var(--clr-3);
      background-color: unset;
      color: var(--clr-2);
      font-size: em(16px);
      letter-spacing: 2px;
      padding: 14px 24px;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: var(--clr-1);
        background-color: var(--clr-2);
        border-color: var(--clr-2);
      }
    }
  }
  &.type-11,
  &.type-12 {
    .text {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &.type-11 {
    font-family: PoppinsBold;
    font-size: em(32px);
  }
  &.type-12 {
    font-size: em(18px);
  }
  &.type-13 {
    text-align: center;
    justify-items: center;
    .titles-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      .title {
        font-family: PoppinsBold;
        font-size: em(48px);
        max-width: 80%;
      }
    }
    .text {
      max-width: 80%;
    }
  }
  &.type-15,
  &.type-16 {
    font-family: PoppinsRegular;
    grid-template-areas: 'title' 'text' 'tag';
    text-align: center;
    justify-items: center;
    .titles-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      .title {
        font-size: em(48px);
        font-family: PoppinsBold;
        max-width: 60%;
      }
    }
    .text {
      max-width: 60%;
      margin-bottom: 10px;
    }
    .tag {
      letter-spacing: normal;
      font-family: PoppinsBold;
      font-size: em(16px);
    }
  }
  &.type-16 {
    grid-template-areas: 'title' 'text' 'cta';
    .titles-wrapper {
      .title {
        max-width: 80%;
      }
    }
    .text {
      margin-bottom: 40px;
      max-width: 80%;
    }
    button {
      border-radius: 3rem;
      border: 1px solid var(--clr-3);
      background-color: unset;
      color: var(--clr-2);
      font-size: em(16px);
      letter-spacing: 2px;
      padding: 14px 24px;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: var(--clr-1);
        background-color: var(--clr-2);
        border-color: var(--clr-2);
      }
    }
  }
  &.type-18 {
    grid-template-areas: 'title' 'text' 'cta';
    font-family: PoppinsBold;
    width: fit-content;
    .titles-wrapper {
      display: flex;
      flex-direction: column-reverse;
      width: fit-content;
      .subtitle {
        font-size: em(30px);
        margin: 0;
        padding-left: 10px;
      }
      .title {
        line-height: 90%;
        max-width: 100%;
        font-size: em(160px);
        margin: 0;
      }
    }
    .text {
      margin-bottom: 40px;
      max-width: 80%;
      justify-self: end;
      color: var(--clr-2);
      letter-spacing: 4px;
    }
    button {
      background-color: var(--clr-2);
      color: var(--clr-1);
      font-size: em(16px);
      letter-spacing: 0.8px;
      padding: 18px 32px;
      transition: all 0.15s ease-in-out;
      margin-left: 10px;
      &:hover {
        color: var(--clr-3);
        background-color: var(--clr-1);
      }
    }
  }
  &.type-19,
  &.type-20,
  &.type-21,
  &.type-22 {
    .tag {
      background-color: unset;
      letter-spacing: normal;
      font-size: em(20px);
      margin: 0;
      padding: 0;
      position: relative;
    }
    .titles-wrapper {
      .title {
        font-family: PoppinsBold;
        font-size: em(64px);
      }
      .subtitle {
        font-family: PoppinsBold;
        font-size: em(24px);
      }
    }
    .text {
      font-size: em(18px);
      white-space: pre-wrap;
    }
  }
  &.type-22 {
    .text {
      max-width: 100%;
    }
  }
}
